<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
  <?include ..\bundle\resources\variables.wxi ?>
  <Product Id="*"
           Name="$(var.ApplicationName)"
           Language="1033"
           Version="$(var.ApplicationVersion)"
           Manufacturer="$(var.Manufacturer)"
           UpgradeCode="E4871E07-72F5-4B55-A7FE-C65C3B5EA3B4" >
    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />
    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." AllowDowngrades="no" Schedule="afterInstallExecute"  />
    <MediaTemplate EmbedCab="yes" />
    <Feature Id="ProductFeature" Title="BitsharesInstallView" Level="1">
      <ComponentGroupRef Id="ProductComponents" />
      <ComponentRef Id="ApplicationShortcut" />
      <ComponentRef Id="ApplicationShortcutDesktop" />
    </Feature>
	  <UI>
		  <UIRef Id="WixUI_InstallDir" />

		  <!-- Skip license dialog -->
		  <Publish Dialog="WelcomeDlg"
				   Control="Next"
				   Event="NewDialog"
				   Value="InstallDirDlg"
				   Order="2">1</Publish>
		  <Publish Dialog="InstallDirDlg"
				   Control="Back"
				   Event="NewDialog"
				   Value="WelcomeDlg"
				   Order="2">1</Publish>
	  </UI>
	<Property Id="WIXUI_INSTALLDIR" Value="INSTALLDIR" />
  </Product>
  <Fragment>
    <Icon Id="icon.ico" SourceFile="assets\dexbot-icon.ico"/>
    <Property Id='ARPPRODUCTICON' Value='icon.ico' />
    <Directory Id="TARGETDIR" Name="SourceDir">

      <!-- Begin desktop shortcut -->
      <Directory Id="DesktopFolder" Name="Desktop">
        <Component Id="ApplicationShortcutDesktop" Guid="*">
          <Shortcut
              Id="ApplicationDesktopShortcut"
              Name="EVRAZ DEXbot"
              Description="EVRAZ DEXbot"
              Target="[INSTALLDIR]\DEXBot.exe"
              WorkingDirectory="INSTALLDIR" Icon="ProductIcon">
            <Icon Id="ProductIcon" SourceFile="assets\dexbot-icon.ico" />
          </Shortcut>
          <RemoveFolder Id="DesktopFolder" On="uninstall"/>
          <RegistryValue
              Root="HKCU"
              Key="Software/EVRAZ_Bot"
              Name="installed"
              Type="integer"
              Value="1"
              KeyPath="yes"/>
        </Component>
      </Directory>
      <!-- End desktop shortcut -->

      <!-- Begin program files entry-->
      <Directory Id="ProgramFilesFolder">
        <Directory Id="APPLICATIONFOLDER" Name="EVRAZ">
          <Directory Id="INSTALLDIR" Name="$(var.ApplicationName)" >
          </Directory>
        </Directory>
      </Directory>
      <!-- End program files entry-->

		<!-- Begin start menu entry -->
      <Directory Id="ProgramMenuFolder">
        <Directory Id="ApplicationProgramsFolder" Name="EVRAZ"/>
      </Directory>
    </Directory>

    <DirectoryRef Id="ApplicationProgramsFolder">
      <Component Id="ApplicationShortcut" Guid="31225B25-1218-475C-8E4A-04C115777DE3">
        <Shortcut Id="ApplicationStartMenuShortcut"
                  Name="EVRAZ DEXbot"
                  Description="EVRAZ DEXBot"
                  Target="[INSTALLDIR]\DEXBot.exe"
                  WorkingDirectory="INSTALLDIR"/>
        <RemoveFolder Id="CleanUpShortCut" Directory="ApplicationProgramsFolder" On="uninstall"/>
        <RegistryValue Root="HKCU" Key="Software\EVRAZ\DEXBot" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
      </Component>
    </DirectoryRef>
    <!-- End start menu entry-->
  </Fragment>

  <!-- Begin installed files -->
  <Fragment>
    <ComponentGroup Id="ProductComponents" Directory="INSTALLDIR">
      <Component Id="Executable" Guid="F7445831-8483-4559-A6CD-C01D4518DAA1">
        <File Id="WinAppExe" Name="DEXBot.exe" Source="DEXBot.exe" Vital="yes" />
        <RemoveFolder Id="INSTALLDIR" On="uninstall" />
      </Component>
      <Component Id="Documentation" Guid="85496849-BAF1-4BC6-830B-0ADF25906A8D">
        <File Id="ReadMeTxt" Name="README.txt" Source="README.txt" Vital="yes" />
      </Component>
      </ComponentGroup>
  </Fragment>
  <!-- End installed files -->
</Wix>
